<html>
    <head>
        <title>toshiki's blog</title>
    </head>
    <body>
        <h1>|｡。|</h1>
        <h2>|｡。|</h2>
        <h3>|｡。|</h3>
        <h4>|｡。|</h4>
        <p>Hi there!</p>
        <p>It works!</p>
        <strong>Hello World!!</strong>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date}}</p>
                <h5><a href="">{{ post.title}}</a></h5>
                <P><a href="">{{ post.text|linebreaksbr}}</a></P>
            </div>
        {% endfor %}
    </body>
</html>